
.tile {
    background-color: gray;
    height:  200px;
    width: 200px;
    border: black solid 2px;
}

.easyGame {
    width: 600px;
    flex-wrap: wrap;
    display: flex;
}

.mediumGame {
    width: 800px;
    flex-wrap: wrap;
    display: flex;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}